<html>
<head>
    <title></title>
    <link href="~/css/Index.css" rel="stylesheet" />
</head>
<body>

    @await Html.PartialAsync("Header")

    <div>
        @RenderBody()
    </div>

    @await Html.PartialAsync("Footer")
</body>
</html>