@model ManagingAccessService.Models.DbModels.UserAccount

@{
    ViewData["Title"] = "EditUserAccount";
}

<h2>Изменить</h2>

<form asp-action="EditUserAccount">
    <div class="form-group">
        <label asp-for="Login"></label>
        <input asp-for="Login" class="form-control" />
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmployeeId"></label>
        <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.Employees"></select>
        <span asp-validation-for="EmployeeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RoleId"></label>
        <select asp-for="RoleId" class="form-control" asp-items="ViewBag.Roles"></select>
        <span asp-validation-for="RoleId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
