@model ManagingAccessService.Models.DbModels.Organization

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактировать</h1>

<h4>Организации</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrganizationId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inn" class="control-label">Инн</label>
                <input asp-for="Inn" class="form-control" />
                <span asp-validation-for="Inn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ogrn" class="control-label">Огрн</label>
                <input asp-for="Ogrn" class="form-control" />
                <span asp-validation-for="Ogrn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">Статус</label>
                <select asp-for="Status" class="form-control" >
                    <option value="Активный">Активный</option>
                    <option value="Не активный">Не активный</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Назад</a>
            </div>
        </form>
    </div>
</div>