<h2>Добавить нового сотрудника</h2>

@using (Html.BeginForm("AddEmployee", "Home", FormMethod.Post))
{
    <div>
        <label for="fullName">Полное имя:</label>
        <input type="text" id="fullName" name="FullName" />
    </div>
    <div>
        <label for="gender">Пол:</label>
        <input type="text" id="gender" name="Gender" />
    </div>
    <button type="submit">Добавить</button>
}